[gcode_macro PER_MATERIAL_SETTINGS]
gcode:
   {% set MATERIAL_TYPE = params.MATERIAL|string %}
   {% set z_offset = printer.configfile.config.bltouch.z_offset | float %}
   
   #z_offset = 2.890
   {% if MATERIAL_TYPE == "PLA"%}
        SET_GCODE_OFFSET Z=+0
        SET_PRESSURE_ADVANCE ADVANCE=0.0845
   {% elif MATERIAL_TYPE == "ABS"%}
        SET_GCODE_OFFSET Z=0.0
        #SET_PRESSURE_ADVANCE ADVANCE=0.0845
   {% elif MATERIAL_TYPE == "PETG"%}
        SET_GCODE_OFFSET Z=+0.00
        #SET_PRESSURE_ADVANCE ADVANCE=0.0845
   {% endif%}
